<form name="commentForm" data-ng-submit="save(commentForm)" method="post" novalidate>
  <div class="modal-header">
    <h2 data-ng-if="!isReply">Add Comment</h2>
    <h2 data-ng-if="isReply">Reply to Comment</h2>
  </div>
  <div class="modal-body">
    <div class="form-group" data-ng-if="!isReply">
      <label class="required" for="reference">Line/Reference</label>
      <input type="text" class="form-control" placeholder="Line number or Refernce where this comment applies (e.g.123, General)"
             data-ng-model="$parent.comment.reference" id="reference" name="reference" required autofocus>
      <div data-ng-messages="commentForm.reference.$error" data-ng-if="commentForm.$submitted" role="alert">
        <div data-ng-message="required">Please Line number or refrence</div>
      </div>
    </div>

    <div class="form-group">
        <textarea class="form-control" rows="6" data-ng-model="comment.text"
                  placeholder="Write your comment, suggestion or question here." id="text" name="text" required>
        </textarea>
      <div data-ng-messages="commentForm.text.$error" data-ng-if="commentForm.$submitted" role="alert">
        <div data-ng-message="required">Please enter your comment/suggestion or question</div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-cancel" type="button" data-ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" type="submit">Save</button>
  </div>
</form>
