@image-path: "../../resource/image";
@import "../../resource/colour.less";

[data-ng-controller~="u00000UserCtrl"] {
  height: 100%;
  min-width: 480px;

  header {
    background: #fafafa;
    padding-top: 5px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;

    .app-logo {
      background: url("@{image-path}/logo-text.png") no-repeat center center;
      background-size: 90px 25px;
      margin: 0 5px 0 5px;
      width: 90px;
      height: 25px;
    }

    .app-bar {
      margin: 0 5px 0 5px;

      .icon {
        padding-top: 3px !important;
      }

      .user {
        color: @lt-blue;
      }

      button.icon:hover {
        background-color: @lt-gray-bground ! important;
        border-color: @lt-gray-border ! important;
        box-shadow: 0 0 2px @lt-blue;
      }
    }
  }

  aside {
    border: 1px solid @lt-gray-border;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: @off-white;
    padding: 0;
  }

  footer {
    border-top: 1px solid @lt-gray-border;
    padding-top: 10px;
  }

  [data-ui-view="sidebar-menu"] {
    margin: 10px;
    overflow: auto;

    .heading {
      margin: 0 0 5px 0;
      color: darkred;
      font-size: 11pt;
      font-weight: bold;
      border-bottom: 1px solid lightgray;

      * {
        vertical-align: middle;
      }

      i {
        margin-right: 5px;
      }
    }
  }

  [data-ui-view="sidebar-panel"] {
    margin: 10px;
    overflow: auto;
  }

  [data-ui-view="content"] {
    margin-top: 5px;
  }
}