<div class="container" data-ng-controller="u00000UserCtrl as u00000">
  <header class="row">
    <div class="app-logo pull-left"></div>
    <div class="app-bar pull-right">
      <span class="user icon divider hidden-xs">{{u00000.user.forename}} {{u00000.user.surname}}</span>
      <button class="home icon" data-ng-click="u00000.navigateToDashboard()" title="Return to Dashboard"><span
          class="hidden-xs">Home</span></button>
      <button class="on-off icon" data-ng-click="u00000.logout()" title="Logout of the application"><span
          class="hidden-xs">Sign Out</span></button>
      <button class="help icon"><span class="hidden-xs">Help</span></button>
      <button class="icon info" data-ng-click="u00000.showAbout()"><span class="hidden-xs">About</span></button>
    </div>
  </header>

  <div class="row">
    <aside class="col-md-3 col-sm-4">
      <div data-ui-view="sidebar-menu"></div>
      <div data-ui-view="sidebar-panel">
        <favourite-panel></favourite-panel>
      </div>
    </aside>
    <main data-ui-view="feature" class="col-md-9 col-sm-8 col-xs-12 container"></main>
  </div>

  <div data-ng-include="'feature/common/about/about.html'" data-ng-if="u00000.aboutVisible"></div>
</div>
