<div data-ng-controller="u03020ProjectsCtrl as u03020">
  <div data-ng-repeat="project in u03020.projects | orderBy:'title' track by $index" class="panel panel-default">
    <div class="panel-heading heading">
      <div class="btn-group pull-left" role="group" aria-label="Project options">
        <i class="{{u03020.isSelected(project)}} icon border"
           data-ng-class="u03020.isFavourite(project)?'favourite-on':'favourite-off'"
           title="Add/Remove project as favourite" data-ng-click="u03020.toggleFavourite(project)"></i>
      </div>
      <div class="btn-group pull-right" role="group" aria-label="Project options">
        <button class="icon project-manage border" title="Select this project as the current"
                data-ng-click="u03020.manageProject(project)">Manage Project
        </button>
      </div>
      <span>{{project.projectCode}} : {{project.title}}</span>
      <span class="owner icon user" title="Owner of this project">{{project.owner.email}}</span>
    </div>
    <div class="panel-body">
      <p>Client: {{project.client == null ? "N/A" : project.client}}</p>
      <p>Summary: {{project.summary}}</p>
    </div>
  </div>
  <div data-ng-show="u03020.waiting" class="waiting-bar border">Loading Projects</div>
  <div data-ng-show="u03020.projects.length==0 && !u03020.waiting" class="info-bar border">You do not have any projects</div>
</div>
