html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
label {
  font-size: small;
}
label.required:after {
  content: " *" !important;
  color: red;
}
a {
  cursor: pointer;
}
a.disabled {
  pointer-events: none;
  cursor: default;
  color: lightgray;
}
.nav-tabs .active a {
  font-weight: bold;
}
/* White modal background instead of black */
.modal-backdrop {
  background: white;
}
/* Bootstrap dialog message */
.bootstrap-dialog-message * {
  vertical-align: middle;
}
.bootstrap-dialog-message i {
  margin-right: 15px;
}
