.pamm.sidemenu ul {
  padding-left: 20px;
  list-style: none;
}
.pamm.sidemenu ul li {
  margin-bottom: 2px;
  padding: 0 2px 0 2px;
  font-size: 9pt;
  font-weight: bold;
  color: darkorange;
  transition: 0.2s linear background-color;
}
.pamm.sidemenu ul li > div {
  border-top: 1px dotted gray;
  font-weight: normal;
  color: gray;
  font-size: 8pt;
  margin-top: 2px;
}
.pamm.sidemenu ul li:hover {
  transition: 0.2s linear background-color;
  background-color: lightgoldenrodyellow;
}
.pamm.sidemenu ul li:before {
  font-family: 'FontAwesome';
  content: '\f105';
  margin: 0 5px 0 -12px;
  pointer-events: none;
}
.pamm.sidemenu ul li[data-ng-click] {
  cursor: pointer;
}
.pamm.sidemenu .description {
  border-top: 1px dotted gray;
  font-weight: normal;
  color: gray;
  font-size: 8pt;
  margin-top: 2px;
}
.error p {
  margin: 1px 0 5px 0;
  color: darkred;
  font-size: 10pt;
  padding: 2px 5px 2px 5px;
  background: rgba(255, 255, 255, 0.6);
  top: -2px;
}
.ng-valid {
  border-left: 5px solid #42A948;
}
.ng-invalid {
  border-left: 5px solid #a94442;
}
footer.copyright {
  position: absolute;
  bottom: 0;
  left: 5px;
  right: 5px;
  padding: 5px;
  color: white;
  text-align: center;
  border-top: 1px solid lightgray;
  font-size: 8pt;
}
footer.copyright a {
  color: white;
  text-decoration: none;
}
